# MongoDB - Lab

## Introduction

In this lesson, we'll get some hands-on experience with MongoDB!

## Objectives
You will be able to:
-  Use MongoDB, a popular NoSQL database
-  Create, Read, Update, and Delete Information in MongoDB

## Getting Started

To begin this lab, make sure that you start up the mongoDB server in your terminal first!


## Connecting to the MongoDB Database

In the cell below, import the appropriate library and connect to the mongoDB server. Create a new database called `'lab_db'`.

In [22]:
import pymongo

In [23]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
lab_db = myclient['lab_db']

In [24]:
print(myclient.list_database_names())

['admin', 'animal_shelter_db', 'config', 'local']

In [25]:
lab_collection = lab_db['lab_collection']

## Creating a Collection

Now, create a collection called `'lab_collection'` inside `'lab_db'`.

## Adding Some Data

Now, we're going to add some example records into our database. In the cells below, create dictionary representations of the following customer records:


|     Name     |            Email           |  Mailing_Address  | Balance |                         Notes                         |
|:------------:|:--------------------------:|:-----------------:|:-------:|:-----------------------------------------------------:|
|  John Smith  |    j.smith@thesmiths.com   | 123 mulberry lane |   0.0   |    Called technical support, issue not yet resolved   |
|  Jane Smith  |  jane_smith@thesmiths.com  |         Null          |  25.00  |                   Null                                    |
|  Adam Enbar  | adam@theflatironschool.com |    11 Broadway    |  14.99  |           Set up on recurring billing cycle           |
| Avi Flombaum |  avi@theflatironschool.com |    11 Broadway    |   0.0   |                   Null                                    |
|   Steven S.  |     steven.s@gmail.net     |         Null          |  -20.23 | Refunded for overpayment due to price match guarantee |


Your first challenge is to take all of the data in the table above and create the corresponding documents and add then to our mongo database. Note that fields that contain 'Null' should not be included in the document (recall that since mongo is schema-less, each document can be different). 

Create the documents from the table listed above, and then use `insert_many()` to insert them into the collection.

In [26]:
customer_1 = {'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}
customer_2 = {'name': 'Jane Smith', 'email': 'jane_smith@themsiths.co', 'balance': 0.0, 'notes': 'Called'}
customer_3 = {'name': 'Jane Doe2', 'address': '234 elm street', 'age': 78}
customer_4 = {'name': 'Jane Doe', 'address': '2345 elmer street', 'age': 17}
customer_5 = {'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}
customer_6 = {'name': 'John Doe jr.', 'address': '', 'age': 0.5}

all_records = [customer_1, customer_2, customer_3, customer_4, customer_5, customer_6]

insertion_results = lab_collection.insert_many(all_records)

Now, access the appropriate attribute from the results object returned from the insertion to see the unique IDs for each record inserted, so that we can confirm each were inserted correctly.

In [27]:
query = lab_collection.find({})
for q in query:
    print(q)

{'_id': ObjectId('5cdc89104adc5bc53e500adb'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}
{'_id': ObjectId('5cdc89104adc5bc53e500adc'), 'name': 'Jane Smith', 'email': 'jane_smith@themsiths.co', 'balance': 0.0, 'notes': 'Called'}
{'_id': ObjectId('5cdc89104adc5bc53e500add'), 'name': 'Jane Doe2', 'address': '234 elm street', 'age': 78}
{'_id': ObjectId('5cdc89104adc5bc53e500ade'), 'name': 'Jane Doe', 'address': '2345 elmer street', 'age': 17}
{'_id': ObjectId('5cdc89104adc5bc53e500adf'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}
{'_id': ObjectId('5cdc89104adc5bc53e500ae0'), 'name': 'John Doe jr.', 'address': '', 'age': 0.5}

## Querying and Filtering

In the cell below, return the name and email address for every customer record. Then, print every item from the query to show that it worked correctly.

In [29]:
query_2 = lab_collection.find({}, {'_id': 1, 'name': 1, 'address': 1})
for item in query_2:
    print(item)

{'_id': ObjectId('5cdc89104adc5bc53e500adb'), 'name': 'John Smith'}
{'_id': ObjectId('5cdc89104adc5bc53e500adc'), 'name': 'Jane Smith'}
{'_id': ObjectId('5cdc89104adc5bc53e500add'), 'name': 'Jane Doe2', 'address': '234 elm street'}
{'_id': ObjectId('5cdc89104adc5bc53e500ade'), 'name': 'Jane Doe', 'address': '2345 elmer street'}
{'_id': ObjectId('5cdc89104adc5bc53e500adf'), 'name': 'Santa Claus', 'address': 'The North Pole'}
{'_id': ObjectId('5cdc89104adc5bc53e500ae0'), 'name': 'John Doe jr.', 'address': ''}

Great! Now, let's write a query that gets an individual record based on a stored key-value pair a document contains. 

In the cell below, write a query to get the record for John Smith by using his name. Then, print the results of the query to demonstrate that it worked correctly.

In [38]:
query_3 = lab_collection.find({'name':'John Smith'})
for item in query_3:
    print(item)

{'_id': ObjectId('5cdc89104adc5bc53e500adb'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}

In [40]:
print(query_3.next)

<bound method Cursor.next of <pymongo.cursor.Cursor object at 0x110426518>>

Great! Now, write a query to get the names, email addresses, and balances for customers that have a balance greater than 0. Use a modifier to do this. 

**_HINT_**: In the query below, you'll be passing in two separate dictionaries. The first one defines the logic of the query, while the second tells which fields we want returned.

In [43]:
query_4 = lab_collection.find({'balance':{"$gt": 0}})
for i in query_4:
    print(i)

In [44]:
query_5 = lab_collection.find({'age':{"$gt": 10}})
for i in query_5:
    print(i)

{'_id': ObjectId('5cdc89104adc5bc53e500add'), 'name': 'Jane Doe2', 'address': '234 elm street', 'age': 78}
{'_id': ObjectId('5cdc89104adc5bc53e500ade'), 'name': 'Jane Doe', 'address': '2345 elmer street', 'age': 17}
{'_id': ObjectId('5cdc89104adc5bc53e500adf'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}

## Updating a Record

Now, let's update some records. In the cell below. set the mailing address for Steven S. to `'367 55th St., apt 2A'`.

In [ ]:
record_to_update = {'name' : 'John Doe'}
update_1 = {'$set': {'age': 29}}
update_2 = {'$set': {'birthday': '02/20/1986'}}

mycollection.update_one(record_to_update, update_1)
mycollection.update_one(record_to_update, update_2)
query_6 = mycollection.find({'name': 'John Doe'})
for item in query_6:
    print(item)

In [46]:
record_to_update_1 = {'name':'Santa Claus'}
update_1 = {'$set': {'age': 35}}
update_2 = {'$set': {'email': 'santa@clause.com'}}

lab_collection.update_one(record_to_update_1, update_1)
lab_collection.update_one(record_to_update_1, update_2)

Now, write a query to check that the update worked for this document in the cell below.

In [47]:
query_5 = lab_collection.find({})
for i in query_5:
    print(i)

{'_id': ObjectId('5cdc89104adc5bc53e500adb'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}
{'_id': ObjectId('5cdc89104adc5bc53e500adc'), 'name': 'Jane Smith', 'email': 'jane_smith@themsiths.co', 'balance': 0.0, 'notes': 'Called'}
{'_id': ObjectId('5cdc89104adc5bc53e500add'), 'name': 'Jane Doe2', 'address': '234 elm street', 'age': 78}
{'_id': ObjectId('5cdc89104adc5bc53e500ade'), 'name': 'Jane Doe', 'address': '2345 elmer street', 'age': 17}
{'_id': ObjectId('5cdc89104adc5bc53e500adf'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 35, 'email': 'santa@clause.com'}
{'_id': ObjectId('5cdc89104adc5bc53e500ae0'), 'name': 'John Doe jr.', 'address': '', 'age': 0.5}

In [50]:
names_list = ['John Smith','Jane Smith', 'Jane Doe2', 'Jane Doe', 'Santa Clause', 'John Doe jr.']
birthdays_list = ['02/20/1986','07/07/1983','12/02/1982','04/17/1983','08/30/1991', '09/30/1992']

def update_birthdays(names, birthdays):
    for i, name in enumerate(names_list):
        record_to_upddate = {'name': name}
        update = {'$set' : {'birthday': birthdays_list[i]}}
        
        lab_collection.update_one(record_to_upddate, update)        
        
update_birthdays(names_list, birthdays_list)

Now, write a query to check your work and see that the birthdays were added correctly.

In [ ]:
query_6 = lab_collection.find({})

for i in query_6

Great! It looks like the birthdays have been successfully added to every record correctly!

## Summary

In this lesson, we got some hands-on practice working with MongoDB!